.backfiled

.header
  = render 'devise/shared/header'

.main
%h2 会員情報入力
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, autofocus: true, placeholder: '例）キャベツ太郎'
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'PC.携帯どちらでも可能'
    
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "password", placeholder: 'パスワード'
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "password", placeholder: 'パスワード（もう一度確認のために入れてください）'

  .field
    .field__identification
      本人確認
    .field__identification-notice
      安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

  .field
    .field__name
      .fielf__name__title
        お名前（全角）
      .fielf__name__notice
        必須
    .field__name-tag
      = f.text_field :last_name, autofocus: true, class: 'field__name-tag__lastname', placeholder: '例）山田'
      = f.text_field :last_name, autofocus: true, class: 'field__name-tag__firsttname', placeholder: '例）真'

  .field
    .field__kananame
      .fielf__kananame__title
        お名前カナ（全角）
      .fielf__kananame__notice
        必須
    .field__kananame-tag
      = f.text_field :last_kane, autofocus: true, class: 'field__kananame-tag__lastname', placeholder: '例）ヤマダ'
      = f.text_field :last_kane, autofocus: true, class: 'field__kananame-tag__firsttname', placeholder: '例）マコト'

  .field
    .field__birthday
      .fielf__birthday__title
        生年月日
      .fielf__birthday__notice
        必須
      = f.text_field :last_kane, autofocus: true, class: 'field__kananame-tag__lastname', placeholder: '例）20200221'
      .field__birthday__detail
        ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

  .field
    .field__address
      住所登録
    .field__prefecture
      = f.label :post_number, "郵便番号(必須)"
      = f.text_field :post_number, autofocus: true, class: 'field__address__prefecture', placeholder: '1234567'
    .field__prefecture
      = f.label :prefecture, "都道府県(必須)"
      = f.text_field :prefecture, autofocus: true, class: 'field__address__prefecture', placeholder: '東京都'
    .field__city
      = f.label :city, "市町村(必須)"
      = f.text_field :city, autofocus: true, class: 'field__address__prefecture', placeholder: '大阪市'
    .field__house-number
      = f.label :house_number, "番地(必須)"
      = f.text_field :house_number, autofocus: true, class: 'field__address__prefecture', placeholder: '１−１−１'
    .field__building-name
      = f.label :building_name, "建物名(任意)"
      = f.text_field :building_name, autofocus: true, class: 'field__address__prefecture', placeholder: '小見マンション'
    .field__phone-number
      = f.label :phone_number , "電話番号(任意)"
      = f.text_field :phone_number , autofocus: true, class: 'field__address__prefecture', placeholder: '0901234567'
    .field__card
      = f.label :card , "カード番号(任意)"
      = f.text_field :phone_number , autofocus: true, class: 'field__address__prefecture', placeholder: 'スペースは不要です'
    .field__profile
      = f.label :card , "自己紹介など(必須)"
      = f.text_field :phone_number , autofocus: true, class: 'field__address__prefecture', placeholder: '私はビートルズのファンです'
  
  .consent
    「次へ進む」のボタンを押すことにより、利用規約()に同意したものとみなします

  = link_to "#", class: "step-forward" do
    次へ進む
  
  .explanation-personal 
    本人情報の登録について

  .explanation-site
    This site is protected by reCAPTCHA and the Google Privacy Policy() and Terms of Service() apply.


  .actions
    = f.submit "登録する"
= render "devise/shared/links"

.footer
  = render 'devise/shared/footer'
