.background1

  .headder
    = render 'devise/shared/headder'
    
    %h2 パスワードをお忘れですか?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email, "登録しているメールアドレスを記入してください"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "パスワード再登録の方法を送る"
    = render "devise/shared/links"
  
  .footer
    = render 'devise/shared/footer'