.page
  .page__left
    .page__left__top
      = link_to root_path do
        .page__left__top__text1
          マイページ
      = link_to root_path do
        .page__left__top__text1
          お知らせ
      = link_to root_path do
        .page__left__top__text1
          いいね！一覧
      = link_to root_path do
        .page__left__top__text1
          出品する
      = link_to root_path do
        .page__left__top__text1
          出品した商品
      = link_to root_path do
        .page__left__top__text1
          出品した商品
      = link_to root_path do
        .page__left__top__text1
          出品した商品
      = link_to root_path do
        .page__left__top__text1
          購入した商品
      = link_to root_path do
        .page__left__top__text1
          購入した商品
      = link_to root_path do
        .page__left__top__text1
          ニュース一覧
      = link_to root_path do
        .page__left__top__text1
          ガイド
      = link_to root_path do
        .page__left__top__text1
          お問い合わせ
  
    .page__left__text1
      メルペイ
    .page__left__center
      = link_to root_path do
        .page__left__center__text1
          残高・振込申告
      = link_to root_path do
        .page__left__center__text1
          ポイント
          
    .page__left__text2
      設定
    .page__left__bottom
      = link_to root_path do
        .page__left__bottom__text1
          プロフィール
      = link_to root_path do
        .page__left__bottom__text1
          発送元
      = link_to root_path do
        .page__left__bottom__text1
          お支払い方法
      = link_to root_path do
        .page__left__bottom__text1
          メール・パスワード
      = link_to root_path do
        .page__left__bottom__text1
          本人情報
      = link_to root_path do
        .page__left__bottom__text1
          電話番号の確認
        .page__left__bottom__text1
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn1'
