.details
  .details__top
    .details__top__title
      = @item.name

    .details__top__middle
      - @items.each do |item|
        .details__top__middle__top
          = image_submit_tag item.images[0][:image_name], class: "image10" , height: "300px"
          -#  , width: "220px"
            
        .details__top__middle__low
          -  @item.images.each do |image|
            .details__top__middle__low__center
              = image_submit_tag image[:image_name], class: "image10" , height: "120px"
            
         
      .details__top__span
        ¥
        = @item.price
      
    .details__top__itembox
      .details__top__itembox__left
        (税込)
      .details__top__itembox__right
        送料込み

    .details__top__itembox2
      product1
    .details__top__list
    %table{border:  "1"}
      %tr
        %th 出品者
        %td 
          = User.find(@item.seller_id).nickname
          -# = @item.seller_id.nickname
      %tr
        %th カテゴリー
        %td
          = link_to 'レディース'
          %br/
          = link_to 'トップス'
          %br/
          = link_to 'Tシャツ/カットソー(半袖/袖なし)'
      %tr
        %th ブランド
        %td 
      %tr
        %th 商品のサイズ
        %td 
      %tr
        %th 商品の状態
        %td 
          = @item.status
      %tr
        %th 配送料の負担
        %td 
          = @item.cost
      %tr
        %th 発送元の地域
        %td 
          = @item.send_address
      %tr
        %th 発送日の目安
        %td 
          = @item.send_date


    .details__top__test
      .details__top__test__text1
        = link_to root_path do
          ★ お気に入り ()
      .details__top__test__text2
        = link_to root_path do
          🏴不適切な商品の通報

  .details__bottom
    .details__bottom__high
      %textarea{cols:  "70", rows:  "6"} 
    .details__bottom__low
      %p.noticeMsg
      相手のことを考え丁寧なコメントを心がけましょう。
      %br/
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %form{cols:  "120",row:  "10"}
    .bottom
      コメントする
  
  .details__item__changebox
    .details__item__changebox__a
      %a.btn-default.btn-red{:href => "https://www.mercari.com/jp/sell/edit/m26953239883/"} 商品の編集
      %p.text-center or
      %form{:action => "/jp/mypage/items/deactivate/m26953239883/", :method => "POST", :novalidate => "novalidate"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "48293b4d7e9aece16d68009a515fa7eb5a386ee035c1c663d3ae1ec9723516999e147b8a85859a25bf6172d4ce3b234c47c357597d2576a176be216886eb3d1a3"}/
        %button.btn-default.btn-gray{:type => "submit"} 出品を一旦停止する
      %button.btn-default.btn-gray{"data-modal" => "delete-item", "data-open" => "modal"}
        この商品を削除する
