.top
  .fixed_btn
    .top-text
      出品する
    = image_submit_tag 'icon_camera.png' , height: '50%' , width: '50%' , class: 'logooo'
  .top__header
    .top__header__a
      %h1 
        = image_tag "logo.png", class: "image100" , height: "45px" , width: "140px"
      = form_with(url: root_path, local: true, method: :get) do |f|
        = f.text_field :keyword, placeholder: "キーワードから探す", class: "serch1"
        = image_submit_tag 'icon-search 1.png' , height: '20px' , width: '20px' , class: 'logoo'
        
    .top__header__b
      .top__header__b__1
        = link_to "カテゴリー",  class: 'btn1'
        = link_to "ブランド",  class: 'btn1'
      .top__header__b__2

  .top__main
    .top__main__content
      .top__main__content__text
        人生を変えるフリマアプリ
      .top__main__content__text2
        FURIMAはだれでもかんたんに出品・購入できる
        .dr
        フリマアプリです
      = image_submit_tag 'AppleStore-icon-438x129 (1).png' , height: '60px' , width: '200px' , class: 'apple'
      = image_submit_tag 'google-play-badge (2).png' , height: '85px' , width: '200px' , class: 'google'

  .top__introduction
    .top__introduction__title
      FURIMAが選ばれる3つの理由
    .top__introduction__main
      .top__introduction__main__left
        = image_tag "pict-reason-01.jpg", class: "image1" , height: "300px" , width: "300px"
        .top__introduction__main__left__box1
          .dr
          1
        .top__introduction__main__left__text1
          %span 3分 
          ですぐに出品
        .dr
          スマホで入力するだけで簡単に出品できる！


        
            
      .top__introduction__main__center
        = image_tag "pict-reason-02.jpg", class: "image2" , height: "300px" , width: "300px"
        .top__introduction__main__center__box2
          2
        .top__introduction__main__center__text2
          %span シンプル 
          で使いやすい
        .dr
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        
       
      .top__introduction__main__right
        = image_tag "pict-reason-03.jpg", class: "image3" , height: "300px" , width: "300px"
        .top__introduction__main__right__box3
          3
        .top__introduction__main__right__text3
          手数料
          %span 業界最安  
        .dr
          最大3%でお得に出品&購入！
            

  .top__image
    .top__image__text1
      会員数日本一位
    .top__image__text2
      FURIMAは、フリマアプリで最も人気。
      .box
        出品・購入回数も業界最多です！
      .box
        ほしかったあの商品に出会えるかもしれません。
    .top__image__apple
      = image_submit_tag 'AppleStore-icon-438x129 (1).png' , height: '60px' , width: '200px' , class: 'apple'
      = image_submit_tag 'google-play-badge (2).png' , height: '85px' , width: '200px' , class: 'google'

    

  .top__fulima
    .top__fulima__title
      FURIMAの特徴
    .top__fulima__main
      .top__fulima__main__left
        .top__fulima__main__left__icon1
          = image_tag "icon-01.png", class: "image100" , height: "340px" , width: "220px"
        .top__fulima__main__left__title1
          簡単に売り買いできる
        .top__fulima__main__left__text1
          スマホひとつで、いつでもどこでも簡単に
          .dr
          出品・購入が可能！
        
      .top__fulima__main__center
        .top__fulima__main__center__icon2
          = image_tag "icon-03.png", class: "image100" , height: "340px" , width: "220px"
        .top__fulima__main__center__title2
          売上金は即日振込みに対応
        .top__fulima__main__left__text2
          午前9時までに振込を依頼いただけれ
        .dr
          ば、翌日に指定の口座に入金いたします!
      .top__fulima__main__right
        .top__fulima__main__right__icon3
          = image_tag "icon-04.png", class: "image100" , height: "340px" , width: "220px"
        .top__fulima__main__right__title3
          様々な支払いに対応
        .top__fulima__main__right__text3
          お支払いは、クレジットカードだけでな
        .dr
          く、ポイントや売上金など多彩な方法が
        .dr
          あります。
       
    

  .top__category
    .top__category__title
      ピックアップカテゴリー
    .top__category__title2
      = link_to "新規投稿機能"
    .top__category__image
      .top__category__image__left
        = link_to root_path do
          .top__category__image__left__txst1
            = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
            .top__category__image__left__txst1__test1
              サカナ
              .top__category__image__left__txst1__test1__center1
                30000
                .top__category__image__left__txst1__test1__center1__hosi
                  ★0
              .top__category__image__left__txst1__test1__center11
              （税込）
      .top__category__image__left
        = link_to root_path do
          .top__category__image__left__txst1
            = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
            .top__category__image__left__txst1__test1
              サカナ
              .top__category__image__left__txst1__test1__center1
                30000
                .top__category__image__left__txst1__test1__center1__hosi
                  ★0
              .top__category__image__left__txst1__test1__center11
              （税込）
      .top__category__image__left
        = link_to root_path do
          .top__category__image__left__txst1
            = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
            .top__category__image__left__txst1__test1
              サカナ
              .top__category__image__left__txst1__test1__center1
                30000
                .top__category__image__left__txst1__test1__center1__hosi
                  ★0
              .top__category__image__left__txst1__test1__center11
              （税込）
       

          
      -# .top__category__image__center
      -#   = image_submit_tag "pict-reason-03.jpg", class: "image5" , height: "150px" , width: "220px"
      -# .top__category__image__right
      -#   = image_submit_tag "pict-reason-03.jpg", class: "image6" , height: "245px" , width: "220px"


  .top__brand
    .top__brand__title
      ピックアップブランド
    .top__brand__title2
      = link_to "アーカイバー"
    .top__brand__image
      .top__category__image__left
      = link_to root_path do
        .top__category__image__left__txst1
          = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
          .top__category__image__left__txst1__test1
            サカナ
            .top__category__image__left__txst1__test1__center1
              30000
              .top__category__image__left__txst1__test1__center1__hosi
                ★0
            .top__category__image__left__txst1__test1__center11
            （税込）
      .top__category__image__left
      = link_to root_path do
        .top__category__image__left__txst1
          = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
          .top__category__image__left__txst1__test1
            サカナ
            .top__category__image__left__txst1__test1__center1
              30000
              .top__category__image__left__txst1__test1__center1__hosi
                ★0
            .top__category__image__left__txst1__test1__center11
            （税込）
      .top__category__image__left
        = link_to root_path do
          .top__category__image__left__txst1
            = image_submit_tag "pict-reason-03.jpg", class: "image10" , height: "150px" , width: "220px"
            .top__category__image__left__txst1__test1
              サカナ
              .top__category__image__left__txst1__test1__center1
                30000
                .top__category__image__left__txst1__test1__center1__hosi
                  ★0
              .top__category__image__left__txst1__test1__center11
              （税込）
      -# .top__brand__image__left
      -#   = image_submit_tag "pict-reason-03.jpg", class: "image7" , height: "245px" , width: "220px"
      -# .top__brand__image__center
      -#   = image_submit_tag "pict-reason-03.jpg", class: "image8" , height: "245px" , width: "220px"
      -# .top__brand__image__right
      -#   = image_submit_tag "pict-reason-03.jpg", class: "image9" , height: "245px" , width: "220px"


  .top__download
    .top__download__letter
      .top__download__letter__life
        だれでもかんたん、人生を変えるフリマアプリ
      .top__download__letter__nau
        今すぐ無料ダウンロード！
      .top__download__letter__apple
        = image_submit_tag 'AppleStore-icon-438x129 (1).png' , height: '60px' , width: '200px' , class: 'apple'
        = image_submit_tag 'google-play-badge (2).png' , height: '85px' , width: '200px' , class: 'google'

  

  .top__footer
    .top__footer__description
      .top__footer__description__left
        FURIMAについて
        .top__footer__description__left__a
          = link_to '会社概要（運営会社）', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'プライバシーポリシー', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'FURIMA利用規則', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'ポイントに関する特約', '#', class: 'makoto'


      .top__footer__description__senta
        FURIMAを見る
        .top__footer__description__left__a
          = link_to 'カテゴリー一覧', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'ブランド一覧', '#', class: 'makoto'

      .top__footer__description__right
        
        ヘルプ＆ガイド
        .top__footer__description__left__a
          = link_to 'FURIMAガイド', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'FURIMAロゴ利用ガイド', '#', class: 'makoto'
        .top__footer__description__left__a
          = link_to 'お知らせ', '#', class: 'makoto'

    .top__footer__bottom__a
      %h1 
        = image_tag "logo-white.png", class: "image" , height: "40px" , width: "140px"
      © FURIMA


    


 


   


  

  
  
